# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

bitmask.AppImage
protonvpn-stable-release_1.0.8_all.deb
riseup.asc
public/icons/WhatsApp Image 2025-11-26 at 15.42.57.jpeg

